html, body, header, a, button,
ul, li, main, section, img, div, h2, p, form, 
label, textarea, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

.html {
  height: 100%;
}

.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #eee;
  font-family: American Typewriter, serif;
  position: relative;
  min-height: 100%;
  bottom: 0;
  // margin: 0;
  // min-height: 100%;
}

#root {
  // border: 2px solid green;
  // background-color: #3292f2;
  position: relative;
  background-color: rgb(194, 192, 189);
  color: white;
  min-height: 100%;
  width: 100%;
  margin-top: 0;

}

// #wrapper {
//   min-height: 100%;
//   position: relative;
// }

ul {
  list-style-type: none;
}


.greeing-container {
  list-style-type: none;
  position: relative;
}

// top nav bar
.greeting-navbar {
  // border: 2px solid red;
  background-color: rgb(71, 120, 212);
  display: flex;
  justify-content: space-between;
  // margin: 0 auto 20px;
  padding: 0 40px;
  border-bottom: 1px solid transparent;
}

.greeting-header-logo {
  font-family: cursive;
  // position: relative;
  display: block;
  width: 200px;
  height: 33px;
  font-size: 25px;
  margin-top: 10px;
}

.greeting-header-list {
  // border: 1px solid black;
  display: flex;
  color: whitesmoke;
  font-weight: 500;
}

// login signup buttons
.greeting-header-list > li {
  // border: 1px solid red;
  margin: 10px;
  padding: 10px 18px;
  border-radius: 5px;
  opacity: .8;
  font-size: 18px;
}

.greeting-header-list li:last-child {
  border: 2px solid white;
  margin-left: 21px;
  padding: 10px 18px;
}

//  a:link, a:visited {
//   text-decoration: none;
//   color: rgb(204, 200, 200);
// }

nav a:hover {
 color: rgb(216, 214, 214);
}


// ----- login right panel ---- //

.login-right{
  position: relative;
  // border: 1px solid black;
  // display: flex;
  justify-content: center;
  align-content: center;
  width: 50%;
  height: 100%;
  // z-index: 3;
  float: left;
  z-index: 1010101010;
}


.login-form-box {
  //  border: 1px solid blue;
  //  position: relative;
   padding-right: 15px;
   padding-left: 15px ;
   padding: 20px;
   height: 100%;
   margin-top: 25%;
  //  width: 50%;
  //  float: right;
  //  display: flow;
 }

 .welcome {
   display: block;
   text-align: center;
   font-weight: 400;
   font-size: 25px;
 }

 .login-form-container {
   display: flex;
   justify-content: center;
   margin-top: 100px;
  //  position: relative;
 }

 .login-form {
  // border: 1px solid greenyellow;
  // display: flex;
  // justify-content: center;
  text-align: center;
  box-sizing: border-box;
 }

 .login-input {
  width: 70%;
  // min-width: 50%;
  border-radius: 5px;
  // padding: 8px 0;
  margin: 5px;
  font-size: 15px;
  font-family: American Typewriter, serif;
  height: 40px;
  padding-left: 20px;
}

.session-button,
input[type="submit"] {
  cursor: pointer;
  width: 73%;
  height: 40px;
  background-color: white;
  color: grey;
  margin-top: 7px;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  font-family: American Typewriter, serif;

}

.session-button:hover {
  opacity: .8;
}



/* Split the screen in half */
// .split {
  // height: 100%;
  // width: 50%;
  // position: relative;
  // top: 0;
  // z-index: 1;
  // overflow-x: hidden;
  // padding-top: 20px;
// }

// -------- login left panel --------- //
.login-main {
  // border: 3px solid yellow;
  // margin-bottom: 10px;
  // position: relative;
  display: flex;
  clear: both;
  height: 100%;
  overflow: auto;
  // padding-bottom: 135px;
}

.login-left {
  position: relative;
  // border: 1px solid black;
  width: 50%;
  height: 100%;
  // display: flex;
  float: left;
  background-color: rgb(184, 180, 180);
  // z-index: 1010101010;
}

.login-calvin-div {
  // border: 2px solid green;
  display: flex;
  justify-content: center;
  margin: 20px 0 0 5px;
}

.calvin-logo {
  height: 115px;
  width: 115px;
  margin-top: 35px;
}

.blockquote-main {
  // border: 1px solid red;
  box-sizing: border-box;
  margin-left: 25%;
  display: block;
  margin-top: 300px;
  margin-bottom: 22px;
  font-size: 22px;
}

.blockquote-main p {
  box-sizing: border-box;
  margin: 0 0 11px 10px;
  white-space: pre-line;
  max-width: 400px;
}

.blockquote-main footer {
  display: block;
  opacity: .75;
  font-size: 17px;
  padding-left: 11px;
  margin-bottom: 40px;
}

.login-second {
  // display: table;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 20%;
}

.calvin-box-text-main {
  display: flex;
  justify-content: center;
}

.calvin-box {
  display: block;
  float: left;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid rgb(71, 120, 212);
  margin-left: 15px;
}

.calvin-box-text {
  // border: 1px solid black;
  display: block;
  padding: 15px 0 0 0;
  max-width: 360px;
  text-align: center;
  opacity: .6;
}


// ----- footer ------- //

.footer-main {
  border-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  // background-color: rgb(197, 24, 24);
  background-color: white;
  color: black;
  // border: 2px solid black;
  display: block;
  position: static;
  bottom: 0;
  width: 96.6%;
  height: 75px;
  padding: 30px;
  clear: both;
  // box-sizing: border-box;
}

.footer-list {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  height: 30px;
  padding: 10px;
}

.footer-list li {
  // border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: .8;
  color: black;
  font-size: 15px;
}

footer a:hover {
  opacity: .8;
}

.footer-copy {
  display: block;
  padding-bottom: 10px;
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}


.group:after {
  content: "";
  display: block;
  clear: both;
}

.group2:before {
  content: "";
  display: block;
  clear: both;
}


// ----- user page ----- //

.workinprogress {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.calvin-hobbs-main {
  // display: flex;
  // position: relative;
  height: 100%;
  width: auto;
}

.calvin-hobbs {
  border: 1px solid black;
  float: left;
  margin: 20% 25% 20% 25%;
  display: flex;
  justify-content: center;
  // position: relative;
  width: 40%;
  height: 40%;
  clear: both;
}

// .rotate:hover {
//   -webkit-transform: rotateZ(10deg);
//   -ms-transform: rotateZ(10deg);    
//   transform: rotateZ(10deg);
// }

.header-group {
  // border: 2px solid red;
  background-color: rgb(71, 120, 212);
  position: static;
  display: flex;
  justify-content: space-between;
  // margin: 0 auto 20px;
  padding: 0 40px;
  border-bottom: 1px solid transparent;

}

.header-logout-button {
  cursor: pointer;
  width: 10%;
  height: 40px;
  background-color: white;
  color: grey;
  margin-top: 7px;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  font-family: American Typewriter, serif;
  margin: 5px;
}

.header-logout-button:hover {
  opacity: .8;
}




// -------- side nav ---------- //

.sidenav {
  border: 3px solid red;
  // min-height: calc(100vh - 70px);
  height: 100%;
  width: 25%; // change with JS
  // position: relative;
  position: fixed; // stay in place
  // z-index: 1; // stay on top
  // top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden; // disable horizontal scroll
  // overflow-y: auto;
  padding-top: 60px; 
  transition: 0.5s; // effect to slide in sidnav
  // margin-top: 44px;
}

.a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.list-index-item a{
  display: block;
}

.list-index-item {
  margin: 10px;
}




.user-main {
  width: 75%;
  position: relative;
  float: right;
}
