html, body, header, a, button,
ul, li, main, section, img, div, h3, p, form, 
label, textarea, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

html {
  height: 100%;
  overflow: auto;
}

.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #eee;
  font-family: American Typewriter, serif;
  position: relative;
  min-height: 100%;
  overflow: auto;
  // bottom: 0;
  // margin: 0;
  // min-height: 100%;
}

#root {
  // border: 2px solid green;
  // background-color: #3292f2;
  position: relative;
  background-color: rgb(194, 192, 189);
  color: white;
  min-height: 100%;
  width: 100%;
  margin-top: 0;

}

// #wrapper {
//   min-height: 100%;
//   position: relative;
// }

ul {
  list-style-type: none;
}


.greeing-container {
  list-style-type: none;
  position: relative;
  height: 100%;
}

// top nav bar
.greeting-navbar {
  // border: 2px solid red;
  background-color: rgb(71, 120, 212);
  display: flex;
  justify-content: space-between;
  // margin: 0 auto 20px;
  padding: 0 40px;
  border-bottom: 1px solid transparent;
}

.greeting-header-logo {
  font-family: cursive;
  // position: relative;
  display: block;
  width: 200px;
  height: 33px;
  font-size: 25px;
  margin-top: 10px;
}

.greeting-header-list {
  // border: 1px solid black;
  display: flex;
  color: whitesmoke;
  font-weight: 500;
}

// login signup buttons
.greeting-header-list > li {
  // border: 1px solid red;
  margin: 10px;
  padding: 10px 18px;
  border-radius: 5px;
  opacity: .8;
  font-size: 18px;
}

.greeting-header-list li:last-child {
  border: 2px solid white;
  margin-left: 21px;
  padding: 10px 18px;
}

//  a:link, a:visited {
//   text-decoration: none;
//   color: rgb(204, 200, 200);
// }

nav a:hover {
 color: rgb(216, 214, 214);
}


// ----- login right panel ---- //

.login-right{
  position: relative;
  // border: 1px solid black;
  // display: flex;
  justify-content: center;
  align-content: center;
  width: 50%;
  height: 100%;
  // z-index: 3;
  float: left;
  // z-index: 1010101010;
}


.login-form-box {
  //  border: 1px solid blue;
  //  position: relative;
   padding-right: 15px;
   padding-left: 15px ;
   padding: 20px;
   height: 100%;
   margin-top: 25%;
  //  width: 50%;
  //  float: right;
  //  display: flow;
 }

 .welcome {
   display: block;
   text-align: center;
   font-weight: 400;
   font-size: 25px;
 }

 .login-form-container {
   display: flex;
   justify-content: center;
   margin-top: 100px;
  //  position: relative;
 }

 .login-form {
  // border: 1px solid greenyellow;
  // display: flex;
  // justify-content: center;
  text-align: center;
  box-sizing: border-box;
 }

 .login-input {
  width: 70%;
  // min-width: 50%;
  border-radius: 5px;
  // padding: 8px 0;
  margin: 5px;
  font-size: 15px;
  font-family: American Typewriter, serif;
  height: 40px;
  padding-left: 20px;
}

.session-button,
input[type="submit"] {
  cursor: pointer;
  width: 73%;
  height: 40px;
  background-color: white;
  color: grey;
  margin-top: 7px;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  font-family: American Typewriter, serif;

}

.session-button:hover {
  opacity: .8;
}



/* Split the screen in half */
// .split {
  // height: 100%;
  // width: 50%;
  // position: relative;
  // top: 0;
  // z-index: 1;
  // overflow-x: hidden;
  // padding-top: 20px;
// }

// -------- login left panel --------- //
.login-main {
  // border: 3px solid yellow;
  // margin-bottom: 10px;
  // position: relative;
  display: flex;
  clear: both;
  height: 100%;
  overflow: auto;
  // padding-bottom: 135px;
}

.login-left {
  position: relative;
  // border: 1px solid black;
  width: 50%;
  height: 100%;
  // display: flex;
  float: left;
  background-color: rgb(184, 180, 180);
  // z-index: 1010101010;
}

.login-calvin-div {
  // border: 2px solid green;
  display: flex;
  justify-content: center;
  margin: 20px 0 0 5px;
}

.calvin-logo {
  height: 115px;
  width: 115px;
  margin-top: 35px;
}

.blockquote-main {
  // border: 1px solid red;
  box-sizing: border-box;
  margin-left: 25%;
  display: block;
  margin-top: 300px;
  margin-bottom: 22px;
  font-size: 22px;
}

.blockquote-main p {
  box-sizing: border-box;
  margin: 0 0 11px 10px;
  white-space: pre-line;
  max-width: 400px;
}

.blockquote-main footer {
  display: block;
  opacity: .75;
  font-size: 17px;
  padding-left: 11px;
  margin-bottom: 40px;
}

.login-second {
  // display: table;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 20%;
}

.calvin-box-text-main {
  display: flex;
  justify-content: center;
}

.calvin-box {
  display: block;
  float: left;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid rgb(71, 120, 212);
  margin-left: 15px;
}

.calvin-box-text {
  // border: 1px solid black;
  display: block;
  padding: 15px 0 0 0;
  max-width: 360px;
  text-align: center;
  opacity: .6;
}


// ----- footer ------- //

.footer-main {
  border-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  // background-color: rgb(197, 24, 24);
  background-color: white;
  color: black;
  // border: 2px solid black;
  display: block;
  // position: fixed;
  position: static;
  bottom: 0;
  // width: 100%; -- makes it extend outside on the left
  height: 75px;
  padding: 30px;
  clear: both;
  // box-sizing: border-box;
}

.footer-list {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  height: 30px;
  padding: 10px;
}

.footer-list li {
  // border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: .8;
  color: black;
  font-size: 15px;
}

footer a:hover {
  opacity: .8;
}

.footer-copy {
  display: block;
  padding-bottom: 10px;
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}


.group:after {
  content: "";
  display: block;
  clear: both;
}

// .group2:before {
//   content: "=============================";
//   display: block;
//   clear: both;
// }


// ----- user page ----- //

.workinprogress {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.calvin-hobbs-main {
  // display: flex;
  // position: relative;
  height: 100%;
  width: auto;
}

.calvin-hobbs {
  border: 1px solid black;
  margin: 20% 25% 20% 25%;
  width: 40%;
  height: 30%;
  display: none;
  // display: flex;
  // justify-content: center;
  // position: relative;
  // clear: both;
  // position: relative;
}

// .rotate:hover {
//   -webkit-transform: rotateZ(10deg);
//   -ms-transform: rotateZ(10deg);    
//   transform: rotateZ(10deg);
// }

.header-group {
  // border: 2px solid red;
  background-color: rgb(71, 120, 212);
  position: static;
  display: flex;
  justify-content: space-between;
  // margin: 0 auto 20px;
  padding: 0 40px;
  border-bottom: 1px solid transparent;

}

.header-logout-button {
  cursor: pointer;
  width: 10%;
  height: 35px;
  background-color: white;
  color: grey;
  margin-top: 7px;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  font-family: American Typewriter, serif;
  margin: 5px;
  padding: 0px 15px 0px 15px;
}

.header-logout-button:hover {
  opacity: .8;
}




// -------- side nav ---------- //

.sidenav {
  border: 2px solid rgb(71, 120, 212);
  // min-height: calc(100vh - 70px);
  height: 800px;
  width: 25%; // change with JS
  // position: fixed;
  position: relative; // stay in place
  // z-index: 1; // stay on top
  // top: 0;
  // left: -190;
  background-color: transparent;
  // overflow-x: hidden; // disable horizontal scroll
  // overflow-y: auto;
  padding-top: 60px; 
  transition: 0.5s; // effect to slide in sidnav
  box-sizing: border-box;
}

.a {
  padding: 8px 8px 8px 32px;
//   text-decoration: none;
  color: #818181;
  display: block;
//   transition: 0.3s;
}

.list-index-item a{
  display: block;
}

// ---------- main-nav dropdown ---------- //

.main-dropdown {
  display: block;
  position: relative;
}

.main-dropdown:hover {
  opacity: .8;
  // border-left: 5px solid transparent;
  // border-right: 5px solid transparent;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.main-dropdown-header {
  font-size: 20px;
}

.main-dd-button {
  // display: inline-block;
  // border: 1px solid gray;
  border: 1px solid blue;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  white-space: nowrap;
  float: right;
  padding: 0 5px 0 5px;
  margin-right: 3px;
}

// .main-dd-button:after {
//   content: '';
//   position: absolute;
//   top: 50%;
//   // right: 15px;
//   // transform: translateY(-50%);
//   width: 0; 
//   height: 0; 
//   // border-left: 5px solid transparent;
//   // border-right: 5px solid transparent;
// }

.main-dd-button:hover {
  opacity: .8;;
}

.main-dd-input {
  display: none;
}

.main-dd-menu {
  display: none;
  position: absolute;
  // top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
}

.main-dd-input + .main-dd-menu {
  display: none;
} 

.main-dd-input:checked + .main-dd-menu {
  display: grid;
  width: -webkit-fill-available;
} 

.main-dd-menu li {
  padding: 5px 0px;
  position: relative;
  border-bottom: 1px solid #ccc;
}

.main-dd-menu li:hover {
  opacity: .5;
}

// -------- sub-nav dropdown ---------- // 

.nav-logo-calvin-div {
  display: flex;
  justify-content: center;
  margin: 20px 0 0 5px;
  padding: 10px 0 10px 0;

}

.nav-calvin-logo {
  display: block;
  height: 115px;
  width: 115px;
}

.add-list-label {
  font-size: 20px;
}

.add-list-input {
  margin-right: 5px;
  width: 100px;
}

.add-list-button {
  font-size: 20px;
  cursor: pointer;
}

.nav-list-title {
  display: block;
}

.nav-list-title a { // list title
  // display: inline-block;
  float: left;
  font-size: 20px;
  height: fit-content;
  color: black;
}

.nav-dropdown { // each list dropdown
  display: block;
  // min-width: 230px;
  // position: relative; // X on each list
}

.nav-dropdown:hover {
  // opacity: .8;
  // border-left: 3px solid transparent;
  // border-right: 3px solid transparent;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.dd-button {
  // display: inline-block;
  display: block;
  position: relative;
  border: 1px solid rgb(10, 2, 2);
  border-radius: 5px;
  padding: 1px 0px 0px 7px;
  background-color: transparent;
  cursor: pointer;
  white-space: nowrap;
  float: right;
}

.dd-button:after {
  content: '';
  position: block;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
}

.dd-button:hover{
  opacity: .8;
}

.dd-list-button:hover {
  opacity: .8;
}

.dd-menu {
  position: relative;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: transparent;
}

.dd-menu-button {
  // border: 1px solid black;
  // border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  white-space: nowrap;
  // float: right;
  padding: 3px 3px 3px 3px;
  margin-right: 3px;

}

.dd-input {
  display: none;
}

.dd-input + .dd-menu {
  display: none;
}

.dd-input:checked + .dd-menu {
  display: inline-block;
  // border: 1px solid red;
  position: relative;
  border: 1px solid #ccc;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
}

.dd-menu li button {
  // padding: 5px 10px;
  cursor: pointer;
  white-space: nowrap;
  color: black;
  font-size: 15px;
  margin: 0 5px;
}

.dd-menu li:hover {
  opacity: .8; // rename remove buttons
}

.user-main {
  width: 75%;
  // position: relative;
  // display: flex;;
  float: right;
  height: 800px;
}



// ------- MODAL --------- //

.modal-wrapper {
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  top: 0;
  background: rgba(0,0,0,0.7);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  // position: absolute;
  // left: 100%;
  border: 1px solid #ccc;
  background: white;
  overflow: auto;
  border-radius: 5px;
  // outline: none;
  padding: 10px;
  height: 150px;
  width: 275px;
  color: black;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  z-index: 2;
}

.dd-button-confirm {
  display: inline-flex;
  justify-content: center;
  background: #2e8ceb;
  color: white;
  // border: 1px solid blue;
  border-radius: 3px;
  cursor: pointer;
  white-space: nowrap;
  padding: 6px 13px;
  height: 32px;
  min-width: 70px;
  vertical-align: middle;
  outline: none;
  margin: 10px 5px 0 5px;
  font-weight: 600;
  font-size: 13px;
}

.dd-button-cancel {
  cursor: pointer;
  outline: none;
  border-radius: 3px;
  border: 1px solid black;
  height: 32px;
  min-width: 70px;
  padding: 6px 13px;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  box-sizing: border-box;
  color: black;
  margin-top: 10px;
  font-size: 13px;
}

.close {
  display: block;
  position: relative;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 2em;
  cursor: pointer;
  color: grey;
  float: right;
}

.form-container {
  display: block;
  position: relative;
  // contain: content;
}
.update-form-container {
  display: block;
  position: relative;
  margin-top: 15px;
}

.update-form-container label{
  display: block;
  margin: 5px 0;
  font-size: 13px;
}
.update-form-container input{
  display: block;
}

.remove-form-container {
  display: block;
  position: relative;
  margin-top: 15px;
}

.remove-form-container p {
  font-size: 13px;
  margin-top: 5px;
}






// ---------------------- //
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
// ---------------------- // 